<div class="toolbar" role="navigation">
{{> nav-toggle}}
  {{#with site.homeUrl}}
  <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
  {{/with}}
{{> breadcrumbs}}
{{!> page-versions}}
  {{#if (and page.fileUri (not env.CI))}}
  <div class="CN"><a href=""></a></div><div class="edit-this-page"><a href="{{page.fileUri}}">编辑此页面</a></div>
  {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
  <div class="page-versions">
  <button class="version-menu-toggle" title="switch to English">CN</button>
  <div class="version-menu">
    <a class="version is-current" href="">CN</a>
    <a class="version" href="../../../../en{{page.url}}">EN</a>
  </div>
  </div>
  <div class="edit-this-page"><a href="{{page.editUrl}}">编辑此页面</a></div>
  {{/if}}
</div>
